---
const titleCart = "Корзина";
const titleViewCart = "Просмотреть";
const titleCartItemsNumber = "Товаров:";
const titleCartCostSum = "На сумму:";
const titleCurrency = "руб."
---

<cart-menu>
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <span class="indicator-item badge badge-xs badge-info">0</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
          <title>{titleCart}</title>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /> 
        </svg>
      </div>
    </div>
    <div tabindex="0" class="card card-compact dropdown-content bg-base-300 z-1 mt-3 w-52 shadow">
      <div class="card-body">
        <span class="text-lg font-bold">{titleCartItemsNumber.concat(" 0")}</span>
        <span class="text-info">{titleCartCostSum.concat(" 0 ").concat(titleCurrency)}</span>
        <div class="card-actions">
          <button class="btn btn-primary btn-block">{titleViewCart}</button>
        </div>
      </div>
    </div>
  </div>
</cart-menu>

<script>
  import type { CartDictionary } from "../../core/models/cart";

  class CartMenu extends HTMLElement {
    // onColorSelect = (el: Element | null, title: string): any => {
    //   return (event: Event) => {
    //     if (el !== null) el.innerHTML = title;
    //   };
    // }
    
    constructor() {
      super();
      //console.log(`~ CartMenu ~ current cart: %o`, cartItems);
    }

    connectedCallback() {
      //const selectedColorTitleEl = this.querySelector("[data-selected-color]");
      //console.assert(selectedColorTitleEl !== null, "Cannot find button element with data attribute: %s", "selected-color");
    }

    disconnectedCallback() {
       //const radioboxes = this.querySelectorAll('input[type=radio]');
    }
  }

  customElements.define('cart-menu', CartMenu);
</script>