@import "tailwindcss";

@source inline("bg-black");
@source inline("bg-white");
@source inline("bg-amber-{50,{100..900..100},950}");
@source inline("bg-orange-{50,{100..900..100},950}");
@source inline("bg-slate-{50,{100..900..100},950}");
@source inline("bg-yellow-{50,{100..900..100},950}");
@source inline("bg-gray-{50,{100..900..100},950}");
@source inline("bg-white-{50,{100..900..100},950}");
@source inline("bg-black-{50,{100..900..100},950}");
@source inline("border-gray-{50,{100..900..100},950}");

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
/* Slid main container */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.non-slider-container {
  width: 100%;
}

/* Horizontal scroll container */
.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}

.non-slider {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
  @media (width >= 40rem /* 640px */) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (width >= 48rem /* 768px */) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (width >= 64rem /* 1024px */) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (width >= 64rem /* 1024px */) {
    gap: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
