DB_GENERAL_PATH="./db/general.sqlite"
DB_CATALOG_PATH="./db/catalog.sqlite"
DB_TRADE_PATH="./db/trade.sqlite"
DB_OPERATIONAL_PATH="./db/operational.sqlite"
DB_QUEUE_POISONED_PATH="./db/queue/poisoned.sqlite"
DB_QUEUE_CART_PATH="./db/queue/cart.sqlite"
DB_QUEUE_NOTIFY_PATH="./db/queue/notify.sqlite"
