---
export const prerender = false;

import { getProductsList } from '../../core/utils/live-collection-manager';
import type { Product } from '../../core/models/product';
import ProductCard from './ProductCard.astro';
import { defaultSorting, type Sorting } from '@/web/src/core/models/sorting';
import type { Paging } from '@/web/src/core/models/paging';
import type { Filtering } from '@/web/src/core/models/filtering';
import { defaultPaging } from '@/web/src/core/models/paging';
import type { ProductCollectionFilter } from '../../core/loaders/products-loader';

interface Props {
  categorySlug: string;
  sorting: Sorting | undefined;
  paging: Paging | undefined;
  filtering: Filtering[];
}

const { categorySlug, sorting = defaultSorting, paging = defaultPaging, filtering = [] } = Astro.props;
const subTitle = "Список товаров";
const noProductsForCategory = "Товары не представлены в данной категории";

const filter: ProductCollectionFilter = {
  categorySlug,
  sorting,
  paging,
  filtering
};

let products: Product[] | undefined;
try {
  products = await getProductsList(filter)
} catch(error) {
  console.error("🛑 ~ Products component ~ failed to fetch products list", error);
} 
//console.log("🛠️ ~ Products component ~ collection:", products)
---

<div class="mx-4 mb-2 bg-base-100">
  <h3 class="text-lg font-bold text-center sm:text-left py-2">{subTitle}</h3>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-5">
    {products && products.map(x => <ProductCard item={x} />)}
  </div>
  {(!products || products.length == 0) && <span>{noProductsForCategory}</span>}
</div>