---
interface Props {
  length: number | undefined,
  width: number | undefined,
  height: number | undefined,
}
const { length, width, height } = Astro.props;

const titleDimension = "Размеры (мм):";
const titleLength = "Длина";
const titleWidth = "Ширина";
const titleHeight = "Высота";
const titleNone = "Нет";
---

<div class="flex flex-col my-2">
  <div class="flex flex-row items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
    </svg>
    <span>{titleDimension}</span>
  </div>
  <div class="grid grid-cols-2 gap-2 md:grid-cols-3 pl-5 pt-1">
    <div>
      <div class="stat-title">{titleLength}</div>
      <div class="text-sm">{length ?? titleNone}</div>
    </div>
    <div>
      <div class="stat-title">{titleWidth}</div>
      <div class="text-sm">{width ?? titleNone}</div>
    </div>
    <div>
      <div class="stat-title">{titleHeight}</div>
      <div class="text-sm">{height ?? titleNone}</div>
    </div>
  </div>
</div>