---
interface Props {
  maker: string | undefined,
  makeCountry: string | undefined,
}
const { maker, makeCountry } = Astro.props;

const titleMakerInfo = "Производитель:";
const titleMaker = "Бренд:";
const titleMakeCountry = "Страна:";
const titleNone = "Нет информации";
---

<div class="flex flex-col">
  <div class="flex flex-row items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
    </svg>
    <span>{titleMakerInfo}</span>
  </div>
  <div class="grid grid-cols-2 gap-2 pl-5 pt-1">
    <div>
      <div class="stat-title">{titleMaker}</div>
      <div class="text-sm truncate max-w-30 md:max-w-60" title={maker ?? titleNone}>{maker ?? titleNone}</div>
    </div>
    <div>
      <div class="stat-title">{titleMakeCountry}</div>
      <div class="text-sm truncate max-w-30 md:max-w-60" title={makeCountry ?? titleNone}>{makeCountry ?? titleNone}</div>
    </div>
  </div>
</div>