---
export const prerender = false;

import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import verfiyLogo from '../../assets/verify.png';
import { extractUrlParamValue } from '../../core/helpers/url-utils';

const order = extractUrlParamValue(new URL(Astro.request.url), "order", "string"); 
console.log("🚀 ~ Cart checkout confirmation page ~ request: %s", order);
---

<BaseLayout title="Подтверждение заказа">
  <div class="flex gap-2">
    <div class="grow-0 content-center">
      <Image src={verfiyLogo}
          class="w-32"
          alt="Confirmation logo"
        />
    </div>
    <div class="grow-1 content-center">
      <p class="">
        <span>Спасибо за раземещение заказа с номером <b>{order}</b>. В ближайшее время я свяжусь с Вами по указанном email адресу для уточнения деталей.</span>
      </p>
    </div>
  </div>
</BaseLayout>
