---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AlertsContainer from '../components/alerts/AlertsContainer.astro';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const MainTitle = `АЛТЕХ - ${title}`;

console.log("🌎 ~ BaseLayout ~ current path:", currentPath);
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{MainTitle}</title>
		<!-- Enable Astro view transitions -->
		<ClientRouter /> 
	</head>
	<body>
		<Header />
		<AlertsContainer />
		{currentPath !== "/" && 
			<Breadcrumbs currentPath={currentPath} server:defer>
				<div slot="fallback">
					<div class="skeleton h-5 w-28"></div>
				</div>
			</Breadcrumbs>
		}
		<div class="mx-auto max-w-7xl px-4 py-3">
			<slot />
		</div>
		<Footer />
	</body>
</html>


<script>
	import { createWorker } from "../core/factories/worker-factory";
	import { getLocalStorageManager } from "../core/utils/local-storage-manager"; 
	import { CatalogSyncType, type CatalogSyncStatus } from "../core/models/catalog-sync";
	import { WorkerNames } from "../core/const";
	
	let catalogSyncWorker: Worker | undefined;

	// Need to open API endpoint to make request to WebAPI from script
	const localStorageManager = getLocalStorageManager();

	const terminateWorker = () => {
		catalogSyncWorker && catalogSyncWorker.terminate();
	}

	const processWorkerMessage = (msg: MessageEvent<any>): void => {
		const syncStatus = msg.data as CatalogSyncStatus;
			if (!msg.data || !syncStatus) {
				console.error("⚙️ ~ BaseLayout ~ CatalogSync worker, unsupported message", msg.data);
				return;
			}

			console.log("⚙️ ~ BaseLayout ~ CatalogSync worker status update:", syncStatus);
			switch (syncStatus.syncType)
			{
				case CatalogSyncType.Cache:
					localStorageManager.setCatalogSyncDate(new Date());
					localStorageManager.setCatalogSyncInProgress(false);
					localStorageManager.setCatalogSyncPostponed(false);
					break;
				case CatalogSyncType.CleanUp:
					localStorageManager.setCatalogSyncInProgress(false);
					localStorageManager.setCatalogSyncPostponed(true);
					break;
				case CatalogSyncType.Failure:
					console.error("⚙️ ~ BaseLayout ~ Failed to save catalog data to IndexedDB", syncStatus.resultMessage);
					localStorageManager.setCatalogSyncInProgress(false);
					localStorageManager.setCatalogSyncPostponed(true);
					break;
				default:
					console.error("⚙️ ~ BaseLayout ~ CatalogSync worker, unsupported sync status", syncStatus.syncType);
					localStorageManager.setCatalogSyncInProgress(false);
					localStorageManager.setCatalogSyncPostponed(true);
					break;
			}

			// terminate worker, as next sync is part of another page load.
			terminateWorker();
	}

	const processWorkerError = (err: ErrorEvent): void => {
		console.error("⚙️ ~ BaseLayout ~ Failed to save catalog data to IndexedDB", err.message);
		localStorageManager.setCatalogSyncInProgress(false);
		localStorageManager.setCatalogSyncPostponed(true);
		
		// clean up worker resource
		terminateWorker();
	}

	if (localStorageManager.checkCataloSyncRequired(4)) {
		console.log("⚙️ ~ BaseLayout ~ Catalog cache data is outdated, preaparing to revalidate cache.");	
		try {
			catalogSyncWorker = createWorker(
				WorkerNames.Catalog,
				(msg) => processWorkerMessage(msg), 
				(err) => processWorkerError(err),
			);
			
			// Performe sync process (pass CatalogSyncType.CleanUpCache if sync is not required and local store need to be cleaned)
			catalogSyncWorker.postMessage(CatalogSyncType.Cache);
			localStorageManager.setCatalogSyncInProgress(true);
			localStorageManager.setCatalogSyncPostponed(false);
		} catch(error) {
			console.log("⚙️ ~ BaseLayout ~ Failed to create CatalogSync worker", error);	
		}
	} else {
		console.log("⚙️ ~ BaseLayout ~ Catalog data in IndexedDb are up to date, sync is not required.");
	}

	window.addEventListener('pagehide', () => {
    terminateWorker();
  });
</script>