---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AlertsContainer from '../components/alerts/AlertsContainer.astro';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;

const currentPath = Astro.url.pathname;
const MainTitle = `АЛТЕХ - ${title}`;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{MainTitle}</title>
		<!-- Enable Astro view transitions -->
		<ClientRouter /> 
	</head>
	<body>
		<Header />
		<AlertsContainer />		
		<div class="mx-auto max-w-7xl px-4 py-3 text-center">
			{currentPath !== "/" 
				? <Breadcrumbs currentPath={currentPath} server:defer>
						<div slot="fallback">
							<div class="skeleton h-5 w-28"></div>
						</div>
					</Breadcrumbs>
				: <div class="h-9"></div>
			}
			<slot />
		</div>
		<Footer />
	</body>
</html>

<script>
	import { createWorker } from "../core/factories/worker-factory";
	import { getLocalStorageManager } from "../core/utils/local-storage-manager";
	import { CatalogSyncType, WorkerNames } from "../core/const";
	import type { CatalogSyncStatus } from "../core/web-workers";
	import { regexTrue } from '@/lib/domain';
	
	const localStorageManager = getLocalStorageManager();
	const withTracing = regexTrue.test(
		import.meta.env.PUBLIC_ENABLE_TRACING
	);

	// Need to open API endpoint to make request to WebAPI from script
	const catalogSyncWorker = createWorker(
		WorkerNames.Catalog,
		(msg) => processWorkerMessage(msg), 
		(err) => processWorkerError(err),
	);

	const postCommandToWorker = (command: CatalogSyncType) => {
		withTracing && console.log("🐾 ~ BaseLayout ~ send command to worker '%s'", command);	
		try {
			switch (command) {
				case CatalogSyncType.Replica: 
					catalogSyncWorker.postMessage(CatalogSyncType.Replica);
					break;
				case CatalogSyncType.Cache:
					catalogSyncWorker.postMessage(CatalogSyncType.Cache);
					break;
				default:
					console.error("❌ ~ BaseLayout ~ Failed to post unsupported command '%s' to web-worker", command);
					break;
			}
		} catch(error) {
			console.error("❌ ~ BaseLayout ~ Failed to post command '%s' to CatalogSync web-worker. See error details below. %o", command, error);	
		}		
	}
	
	if (localStorageManager.checkCataloSyncRequired()) {
		withTracing && console.log("🐾 ~ BaseLayout ~ Preaparing to revalidate cache.");	
		postCommandToWorker(CatalogSyncType.Cache);
	} else {
		withTracing && 
			console.log("🐾 ~ BaseLayout ~ Catalog data in IndexedDb are up to date, sync is not required.");
		postCommandToWorker(CatalogSyncType.Replica);
	}

	const terminateWorker = () => {		
		catalogSyncWorker && catalogSyncWorker.terminate();
	}

	const processWorkerMessage = (msg: MessageEvent<any>): void => {				
		withTracing && console.log("🐾 ~ BaseLayout ~ CatalogSync web-worker status update:", msg.data);
		const syncStatus = msg.data as CatalogSyncStatus;
			if (!msg.data || !syncStatus) {
				console.error("❌ ~ BaseLayout ~ CatalogSync web-worker, unsupported message", msg.data);
				return;
			}
			switch (syncStatus.syncType)
			{
				case CatalogSyncType.Replica:
					if (syncStatus.syncData !== undefined)
					localStorageManager.setCatalogReplicaDate(syncStatus.syncData);
					break;
				case CatalogSyncType.Cache:
					localStorageManager.setCatalogSyncDate(new Date());
					localStorageManager.setCatalogReplicaDate(syncStatus.syncData);
					break;
				case CatalogSyncType.CleanUp:
					// No action requried
					break;
				case CatalogSyncType.Failure:
					console.error("❌ ~ BaseLayout ~ Failed to save catalog data to IndexedDB", syncStatus.resultMessage);
					break;
				default:
					console.error("❌ ~ BaseLayout ~ CatalogSync worker, unsupported sync status", syncStatus.syncType);
					break;
			}
			terminateWorker();
	}

	const processWorkerError = (err: ErrorEvent): void => {
		console.error("❌ ~ BaseLayout ~ Failed to process web-worker command", err.message);
		terminateWorker();
	}

	window.addEventListener('pagehide', () => {
    terminateWorker();
  });
</script>