---
export const prerender = false;

import Categories from '../../components/Categories.astro';
import CollectionFallback from '../../components/CollectionFallback.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Каталог";
const subTitle = "Список категорий товаров";
---

<BaseLayout title={pageTitle}>
  <Categories title={subTitle} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback title={subTitle} />
		</div>
	</Categories>
</BaseLayout>
