---
import BaseLayout from '../../layouts/BaseLayout.astro';

export const prerender = false;
---

<BaseLayout title="Категория каталога продукции">
  <span>Страница в разработке...</span>
</BaseLayout>