---
import Categories from '../components/Categories.astro';
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Главная">
	<Welcome />
	<h3 class="text-lg font-bold text-center lg:text-left">Список категорий товаров</h3>
	<Categories server:defer>
		<div slot="fallback" class="flex w-40 flex-col gap-4">
			<div class="skeleton h-32 w-full"></div>
			<!-- <div class="skeleton h-4 w-28"></div> -->
			<div class="skeleton h-4 w-full"></div>
			<div class="skeleton h-4 w-full"></div>
		</div>
	</Categories>
</BaseLayout>
