PUBLIC_BLOB_STORAGE_CATALOG_URL="http://127.0.0.1:4321"
DB_GENERAL_PATH="/<root>/db/general.db"
DB_OPERATIONS_PATH="/<root>/db/operations.db"
DB_CATALOG_PATH="/<root>/db/catalog.db"
DB_READ_REPLICAS_PATH="/<root>/db/replicas"
