---
import { getBreadcrumbsFromPath, type BreadcrumbItem } from '../core/helpers/breadcrubms-manager';

const { currentPath } = Astro.props;
const breadcrumbs: Array<BreadcrumbItem> = getBreadcrumbsFromPath(currentPath);
---

<script>
  // Example of accessing IndexedDB data from client-side script (not used at the moment)
  /* 
  import { db } from "../core/db/client-db";
  const categories = db.categories.filter(obj => obj.slug === "locks");
  const lockCategory = await categories.first();
  console.log("🚀 ~  Breadcrumbs ~ lock category:", lockCategory)   
  */
</script>

<div class="breadcrumbs text-sm px-8">
  {breadcrumbs.length > 1 /* skip home page */ && 
    <ul class="list-disc">
      {breadcrumbs && breadcrumbs.map((x: BreadcrumbItem, index: number) => (
        <li>
          {index !== breadcrumbs.length - 1 
            ? <a href=`/${x.path}`>{x.value}</a> 
            : <span class="!no-underline !cursor-default text-gray-400 italic">{x.value}</span>} 
        </li>
      ))}
    </ul>}
</div>