---
import { type NavPathItem } from '../types/common';
import NavPathMapper from '../utils/nav-path-mapper';

const { currentPath } = Astro.props;
const pathMapper = new NavPathMapper();

const getBreadcrumbs = (path: string): Array<NavPathItem> => {
  const splitPath = path.split('/');
  console.log("🚀 ~ Breadcrumbs component ~ path:", path)
  console.log("🚀 ~ Breadcrumbs component ~ path collection:", splitPath)
  if (path.endsWith("/")) {
    splitPath.pop();
  }

  var result: Array<NavPathItem> = [];
  while(splitPath.length > 0) { 
    const pathItem =  `/${splitPath.pop()}`;
    console.log("🚀 ~ Breadcrumbs component ~ path item:", pathItem)
    result.push({ path: pathItem, displayValue: pathMapper.getDispalyValueForPath(pathItem)});
  }
  
  return result;
}

const breadcrumbs: Array<NavPathItem> = getBreadcrumbs(currentPath).reverse();
console.log("🚀 ~ Breadcrumbs component ~ parsed path:", breadcrumbs)
---

<div class="breadcrumbs text-sm px-8">
  {breadcrumbs.length > 1 && <ul class="list-disc">
      {breadcrumbs && breadcrumbs.map((x: NavPathItem, index: number) => (
        <li>
          {(index !== breadcrumbs.length - 1) ? <a href={x.path}>{x.displayValue}</a> : <span class="!no-underline !cursor-default">{x.displayValue}</span>} 
        </li>
      ))}
    </ul>}
</div>