---
import { getBreadcrumbsFromPath, type BreadcrumbItem } from '../utils/breadcrubm-resolver';
import { $currentProduct } from '../stores/product-store';
import { $lastVisitedPage } from '../stores/last-visited-page-store';
//import { logger } from '@nanostores/logger';

// logger({
//   'CurrentProduct': $currentProduct,
//   'LastVisitedPage': $lastVisitedPage
// });

const { currentPath } = Astro.props;
const breadcrumbs: Array<BreadcrumbItem> = getBreadcrumbsFromPath(currentPath);

console.log("🚀 ~ Breadcrumbs component ~ current product:", $currentProduct?.value)
---

<div class="breadcrumbs text-sm px-8">
  {breadcrumbs.length > 1 && <ul class="list-disc">
      {breadcrumbs && breadcrumbs.map((x: BreadcrumbItem, index: number) => (
        <li>
          {(index !== breadcrumbs.length - 1) ? 
            <a href={x.url}>{x.value}</a> : 
            <span class="!no-underline !cursor-default">{x.value}</span>} 
        </li>
      ))}
    </ul>}
  <span class="text-xs text-secondary-content">(LVP: {$lastVisitedPage?.value ?? "none"})</span>
</div>