---
export const prerender = false;

import { getLiveCollection } from 'astro:content';
import { LiveCollectionValidationError } from 'astro/content/runtime';
import type { Category } from '../loaders/categories-loader';

const { entries: categories, error } = await getLiveCollection('categories');
// , {
//    parentSlug: undefined
// } as any
console.log("🚀 ~ categories:", categories)

if (LiveCollectionValidationError.is(error)) {
  console.log("🚀 ~ Categories component ~ shema validation errors:", error)
} else if (error) {
  console.log("🚀 ~ Categories component ~ error:", error)
}
---

<div class="hero bg-base-100">
  <div class="hero-content flex-col lg:flex-row">
    <div class="px-3">
      <p class="py-1">
        Список категорий товаров:<br />
        <ul class="list-disc">
          {
            categories && categories.map((x) => {
              const item = x as unknown as Category;
              return (<li>{item.id} - {item.slug}</li>);
            })
          }
        </ul>
        { !categories && <span>Категории не найдены</span> }
      </p>
    </div>
  </div>
</div>