---
import { Image } from 'astro:assets';
import AltexLogo from '../assets/altex-logo-md.png';
import NavPathMapper from '../utils/nav-path-mapper';

var allPaths = new NavPathMapper().getAllPaths();
---

<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    {allPaths && allPaths.map((x) => (
      <a class="link link-info link-hover" href={x.path}>{x.displayValue}</a>
    ))}
  </nav>
  <aside class="grid-flow-col items-center">
    <Image src={AltexLogo} class="w-16" alt="Footer logo"/>
    <p>
      ИП Герасимов Алексей Владимирович 
      <br />
      Поставка надежных товаров и услуг с 1995 г.
    </p>
  </aside>
  <aside>
    <p>Copyright © {new Date().getFullYear()} - Все права защищены</p>
  </aside>
</footer>