---
interface Props {
  quantity?: number,
}

const { quantity } = Astro.props;
const decreaseQauntity = "Уменьшить количество";
const increaseQauntity = "Увеличить количество";
---

<quatnity-selector>
  <div class="inline-flex mt-5">
    <button aria-label={decreaseQauntity} class="border-0">
      <svg xmlns="http://www.w3.org/2000/svg" focusable="false" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
      </svg>
    </button>
    <input id="quantity-value" type="text" inputmode="numeric" name="quantity" size="2" value={quantity ?? 0} min="1" autocomplete="off" class="border-0" />
    <button aria-label={increaseQauntity} class="border-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </button>
  </div>
</quatnity-selector>

<script>
  class QuantitySelector extends HTMLElement {
    connectedCallback() {
    }

    disconnectedCallback() {
    }
  }

  customElements.define('quatnity-selector', QuantitySelector);
</script>