---
import altexLogo from '../assets/alex-welcome.jpg';
---

<div class="hero bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src={altexLogo.src}
      class="max-w-xs rounded-lg shadow-2xl"
    />
    <div class="px-3">
      <h3 class="text-3xl font-bold text-center lg:text-left">Приветствие</h3>
      <p class="py-2">
        Дорогой клиент, рад что заглянул на мой сайт. Меня зовту Алексей, я владелец компании по поставке хозяйственных товаров, мебельной фурнитуры и скобяных изделей.
      </p>
			<p class="py-2">
        Ниже представлены разделы каталога с поставляемой продукцией. Данный сайт носит информационный характер и позволяет лишь оформить заявку на приобритение понравившихся товаров.
      </p>
      <p class="py-2">
        Добавь нужный тебе товар в корзину и отправь заявку на рассмотрение. После этого я свяжусь с тобой и мы обговорим все необходимые детали по поставке и оплате. Удачных покупок!
      </p>
    </div>
  </div>
</div>