---
import { Image } from 'astro:assets';
import altexLogo from '../assets/alex-welcome.jpg';
---

<div class="hero bg-base-100">
  <div class="hero-content flex-col lg:flex-row">
    <Image src={altexLogo}
      class="max-w-3xs rounded-lg shadow-2xl"
      alt="Owner"
    />
    <div class="px-3">
      <h3 class="text-3xl font-bold text-center lg:text-left">Приветствую, Вас!</h3>
      <p class="py-1">
        Меня зовут Алексей, я владелец компании по продаже и поставке хозяйственных товаров, мебельной фурнитуры и скобяных изделей.
      </p>
			<p class="py-1">
        Здесь представлен каталог с поставляемой продукцией. Вы можете оформить заявку на приобритение понравившихся товаров. <span class="font-semibold italic">Оплата через данный веб-сайт не предусмотрена</span>, а согласуется впоследствии в виде наличного или безналичного перевода.
      </p>
      <p class="py-1">
        Добавьте нужный товар в корзину и отправьте заявку на рассмотрение. После этого я свяжусь с Вами и мы согласуем необходимые детали по доставке и оплате. Желаю удачных покупок!
      </p>
    </div>
  </div>
</div>