---
import BaseLayout from '../layouts/BaseLayout.astro';
import AstroLogo from '../assets/astro.svg';

const titleServerError = "Техническая неисправность";
const titleDetails = "У нас возникли техническая неисправность. Просим прощение за неудобства, скоро мы постараемся это исправить."
---

<BaseLayout title={titleServerError}>
  <div class="flex flex-col min-h-[96] items-center justify-center bg-cover bg-center bg-[url(/public/background.svg)]">
    <img src={AstroLogo.src} class="w-10 h-10"/>
    <div>
      <span class="text-error font-bold text-xl">500:</span>
      <span class="font-bold text-xl pl-1">{titleServerError}</span>
    </div>
    <span class="font-medium text-lg text-center pb-5">{titleDetails}</span>
  </div>
</BaseLayout>