---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "О компании";
const titleSummary = "Я занимаюсь продажой и поставкой хозяйственных товаров, инструментов, замков, скобяных изделий, мебельной, дверной и оконной фурнитуры по оптовым и розничным ценам. На веб-сайте представлены товары от различных производителей - Россия, Беларусь, Польша, Китай.";
const titleDetails = "Моя деятельность берет свое начало с 1995 года, когда я начал увлекаться схемотехникой и поставкой на рынок дистанционных пультов управления для телевизоров советсткого производства. Ранние модели телевизоров еще не оснащались модулем дистанционного урпавления и я разработал свою модель. Позже я расширил свою деятельность с помощью антенно-кабельной продукции, а еще позднее добавил ассортимент хозяйственных товаров, мебельной фурнитуры и скобянных изделий.";
---

<BaseLayout title={pageTitle}>
	<section class="px-4">
		<p class="pt-3">
			<span>{titleSummary}</span>
		</p>
		<p class="py-3">
			<span>{titleDetails}</span>
		</p>
	</div>
</BaseLayout>
