---
import Categories from '../components/catalog/Categories.astro';
import CollectionFallback from '../components/CollectionFallback.astro';
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const titlePageName = "Главная";
const titlePageDescription = "Продажа и поставке хозяйственных товаров, мебельной фурнитуры и скобяных изделей.";
---

<BaseLayout title={titlePageName} description={titlePageDescription}>
	<Welcome />
  <Categories server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback />
		</div>		
	</Categories>
</BaseLayout>