---
import BaseLayout from '../layouts/BaseLayout.astro';

const titlePageName = "Политика конфиденциальности";
---

<BaseLayout title={titlePageName}>
	<section class="mx-4 w-full text-left">
    <h1 class="text-lg font-bold text-center sm:text-left mt-2">Политика конфиденциальности</h1>
    <p>Последнее обновление: 05 апреля 2026 г.</p>
    <p>Настоящая Политика конфиденциальности описывает наши правила и процедуры сбора, использования и раскрытия вашей информации при использовании вами Сервиса, а также информирует вас о ваших правах на конфиденциальность и о том, как закон защищает вас.</p>
    <p>Мы используем ваши персональные данные для предоставления и улучшения Сервиса. Используя Сервис, вы соглашаетесь на сбор и использование информации в соответствии с настоящей Политикой конфиденциальности. Эта Политика конфиденциальности была создана с помощью <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Генератор политики конфиденциальности TermsFeed</a>.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Толкование и определения</h2>
    <h3 class="font-bold text-center sm:text-left mt-2">Толкование</h3>
    <p>Слова, начинающиеся с заглавных букв, имеют значения, определенные в следующих условиях. Следующие определения имеют одинаковое значение независимо от того, используются ли они в единственном или множественном числе.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Определения</h3>
    <p>Для целей настоящей Политики конфиденциальности:</p>
    <ul>
    <li>
    <p><strong>Учетная запись</strong> означает уникальную учетную запись, созданную для Вас для доступа к нашему Сервису или его частям.</p>
    </li>
    <li>
    <p><strong>Аффилированное лицо</strong> означает организацию, которая контролирует, контролируется или находится под общим контролем с какой-либо стороной, где «контроль» означает владение 50% или более акций, долей участия или других ценных бумаг, дающих право голоса при избрании директоров или другого руководящего органа.</p>
    </li>
    <li>
    <p><strong>Компания</strong> (далее в настоящей Политике конфиденциальности именуемая «Компания», «Мы», «Нас» или «Наш») относится к ИП Герасимов А.В..</p>
    </li>
    <li>
    <p><strong>Файлы cookie</strong> — это небольшие файлы, которые размещаются на вашем компьютере, мобильном устройстве или любом другом устройстве веб-сайтом и содержат, помимо прочего, информацию о вашей истории просмотра на этом веб-сайте.</p>
    </li>
    <li>
    <p><strong>Страна</strong> относится к: Россия</p>
    </li>
    <li>
    <p><strong>Устройство</strong> означает любое устройство, которое может получить доступ к Сервису, например, компьютер, мобильный телефон или цифровое устройство. планшет.</p>
    </li>
    <li>
    <p><strong>Персональные данные</strong> (или "Персональная информация") — это любая информация, относящаяся к идентифицированному или поддающемуся идентификации физическому лицу.</p>
    <p>Мы используем термины "Персональные данные" и "Персональная информация" взаимозаменяемо, если законом не используется конкретный термин.</p>
    </li>
    <li>
    <p><strong>Услуга</strong> относится к Веб-сайту.</p>
    </li>
    <li>
    <p><strong>Поставщик услуг</strong> означает любое физическое или юридическое лицо, которое обрабатывает данные от имени Компании. Это относится к сторонним компаниям или физическим лицам, нанятым Компанией для содействия предоставлению Услуги, предоставления Услуги от имени Компании, выполнения услуг, связанных с Услугой, или оказания помощи Компании в анализе использования Услуги.</p>
    </li>
    <li>
    <p><strong>Данные об использовании</strong> относятся к данным, собираемым автоматически, либо генерируемым в результате использования Услуги, либо получаемым из самой инфраструктуры Услуги (например, продолжительность посещения страницы).</p>
    </li>
    <li>
    <p><strong>Веб-сайт</strong> относится к АЛТЕХ, доступному по адресу <a href="https://altexweb.ru" rel="external nofollow noopener" target="_blank">https://altexweb.ru</a>.</p>
    </li>
    <li>
    <p><strong>Вы</strong> означает физическое лицо, получающее доступ к Услуге или использующее ее, или компанию, или другое юридическое лицо, от имени которого такое физическое лицо получает доступ к Услуге или использует ее. применимо.</p>
    </li>
    </ul>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Сбор и использование ваших персональных данных</h2>
    <h3 class="font-bold text-center sm:text-left mt-2">Типы собираемых данных</h3>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Персональные данные</h4>
    <p>При использовании нашего сервиса мы можем попросить вас предоставить нам определенную информацию, позволяющую идентифицировать вас, которая может быть использована для связи с вами или вашей идентификации.</p> Персональные данные могут включать, помимо прочего:

    <ul>
    <li>Адрес электронной почты</li>
    <li>Имя и фамилия</li>
    <li>Номер телефона</li>
    <li>Адрес, штат, провинция, почтовый индекс, город</li>
    </ul>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Данные об использовании</h4>
    <p>Данные об использовании собираются автоматически при использовании Сервиса.</p>
    <p>Данные об использовании могут включать такую ​​информацию, как IP-адрес вашего устройства, тип браузера, версия браузера, страницы нашего Сервиса, которые вы посещаете, время и дата вашего посещения, время, проведенное на этих страницах, уникальные идентификаторы устройства и другие диагностические данные.</p>
    <p>Когда вы получаете доступ к Сервису с помощью мобильного устройства, мы можем автоматически собирать определенную информацию, включая, помимо прочего, тип используемого вами мобильного устройства, уникальный идентификатор вашего мобильного устройства, IP-адрес вашего мобильного устройства, вашу мобильную операционную систему, тип используемого вами мобильного интернет-браузера, уникальные идентификаторы устройства и другие диагностические данные.</p>
    <p>Мы также можем собирать информацию, которую ваш браузер отправляет каждый раз, когда вы посещаете наш сервис или когда вы получаете доступ к сервису с помощью мобильного устройства.</p>
    диагностические данные.</p>
    <p>Мы также можем собирать информацию, которую ваш браузер отправляет каждый раз, когда вы посещаете наш сервис или когда вы получаете доступ к сервису с помощью мобильного устройства.</p>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Технологии отслеживания и файлы cookie</h4>
    <p>Мы используем файлы cookie и аналогичные технологии отслеживания для отслеживания активности на нашем сервисе и хранения определенной информации. Используемые нами технологии отслеживания включают маяки, теги и скрипты для сбора и отслеживания информации, а также для улучшения и анализа нашего сервиса. Используемые нами технологии могут включать:</p>
    <ul>
    <li><strong>Файлы cookie или файлы cookie браузера.</strong> Файл cookie — это небольшой файл, размещенный на вашем устройстве. Вы можете настроить свой браузер так, чтобы он отклонял все файлы cookie или сообщал о том, когда отправляется файл cookie. Однако, если вы не принимаете файлы cookie, вы можете не иметь возможности использовать некоторые части нашего Сервиса.</li>
    <li><strong>Веб-маяки.</strong> Некоторые разделы нашего Сервиса и наши электронные письма могут содержать небольшие электронные файлы, известные как веб-маяки (также называемые прозрачными GIF-файлами, пиксельными тегами и однопиксельными GIF-файлами), которые позволяют Компании, например, подсчитывать пользователей, посетивших эти страницы или открывших электронное письмо, а также собирать другую статистику, связанную с веб-сайтом (например, регистрировать популярность определенного раздела и проверять целостность системы и серверов).</li>
    </ul>
    <p>Файлы cookie могут быть «постоянными» или «сессионными». Постоянные файлы cookie остаются на вашем персональном компьютере или мобильном устройстве, когда вы отключаетесь от сети, в то время как сессионные файлы cookie удаляются, как только вы закрываете веб-браузер.</p>
    <p>В случаях, когда это требуется по закону, мы используем необязательные файлы cookie (такие как аналитические, рекламные и ремаркетинговые файлы cookie) только с вашего согласия. Вы можете отозвать или изменить свое согласие в любое время, используя наш инструмент настройки файлов cookie (если он доступен) или через настройки вашего браузера/устройства. Отзыв согласия не влияет на законность обработки данных, основанной на согласии до его отзыва.</p>
    <p>Мы используем как сессионные, так и постоянные файлы cookie для целей, указанных ниже:</p>
    <ul>
    <li>
    <p><strong>Необходимые/основные файлы cookie</strong></p>
    <p>Тип: Сессионные файлы cookie</p>
    <p>Управляется: Нами</p>
    <p>Назначение: Эти файлы cookie необходимы для предоставления вам услуг, доступных через веб-сайт, и для обеспечения возможности использования некоторых его функций. Они помогают аутентифицировать пользователей и предотвращать мошенническое использование учетных записей пользователей. Без этих файлов cookie предоставление запрошенных вами услуг невозможно, и мы используем эти файлы cookie только для предоставления вам этих услуг.</p>
    </li>
    <li>
    <p><strong>Политика использования файлов cookie / Уведомление о принятии файлов cookie</strong></p>
    <p>Тип: Постоянные файлы cookie</p>
    <p>Управляется: Нами</p>
    <p>Назначение: Эти файлы cookie определяют, приняли ли пользователи использование файлов cookie на веб-сайте.</p>
    </li>
    <li>
    <p><strong>Функциональные файлы cookie</strong></p>
    <p>Тип: Постоянные файлы cookie</p>
    <p>Управляется: Нами</p>
    <p>Назначение: Эти файлы cookie позволяют нам запоминать ваши предпочтения при использовании веб-сайта, например, ваши данные для входа или языковые настройки. Цель этих файлов cookie — обеспечить вам более персонализированный опыт и избавить вас от необходимости повторно вводить свои предпочтения каждый раз, когда вы пользуетесь веб-сайтом.</p>
    </li>
    </ul>
    <p>Для получения дополнительной информации об используемых нами файлах cookie и ваших возможностях выбора в отношении файлов cookie, пожалуйста, посетите нашу Политику использования файлов cookie или раздел «Файлы cookie» нашей Политики конфиденциальности.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Использование ваших персональных данных</h3>
    <p>Компания может использовать персональные данные в следующих целях:</p>
    <ul>
    <li>
    <p><strong>Для предоставления и поддержания нашего Сервиса</strong>, включая мониторинг использования нашего Сервиса.</p>
    </li>
    <li>
    <p><strong>Для управления вашей учетной записью:</strong> для управления вашей регистрацией в качестве пользователя Сервиса.</p> Предоставленные вами персональные данные могут дать вам доступ к различным функциям Сервиса, доступным вам как зарегистрированному пользователю.</p>
    </li>
    <li>
    <p><strong>Для исполнения договора:</strong> разработка, соблюдение и выполнение договора купли-продажи товаров, предметов или услуг, которые вы приобрели, или любого другого договора с нами через Сервис.</p>
    </li>
    <li>
    <p><strong>Для связи с вами:</strong> Для связи с вами по электронной почте, телефону, SMS или другим эквивалентным формам электронной связи, таким как push-уведомления мобильного приложения об обновлениях или информационных сообщениях, касающихся функций, продуктов или услуг по договору, включая обновления безопасности, когда это необходимо или целесообразно для их реализации.</p>
    </li>
    <li>
    <p><strong>Для предоставления вам</strong> новостей, специальных предложений и общей информации о других товарах, услугах и мероприятиях, которые мы предлагаем и которые аналогичны тем, которые вы уже приобрели или о которых вы запрашивали информацию, если вы не отказались от получения такой информации. информация.</p>
    </li>
    <li>
    <p><strong>Для обработки ваших запросов:</strong> Для рассмотрения и обработки ваших запросов к нам.</p>
    </li>
    <li>
    <p><strong>Для передачи бизнеса:</strong> Мы можем использовать ваши персональные данные для оценки или проведения слияния, разделения, реструктуризации, реорганизации, роспуска или другой продажи или передачи части или всех наших активов, будь то в качестве действующего предприятия или в рамках банкротства, ликвидации или аналогичной процедуры, в которой персональные данные, хранящиеся у нас о пользователях наших услуг, входят в число передаваемых активов.</p>
    </li>
    <li>
    <p><strong>В других целях</strong>: Мы можем использовать Вашу информацию в других целях, таких как анализ данных, выявление тенденций использования, определение эффективности наших рекламных кампаний, а также для оценки и улучшения нашего Сервиса, продуктов, услуг, маркетинга и вашего опыта.</p>
    </li>
    </ul>
    <p>Мы можем передавать Ваши персональные данные в следующих ситуациях:</p>
    <ul>
    <li><strong>Поставщикам услуг:</strong> Мы можем передавать Ваши персональные данные поставщикам услуг для мониторинга и анализа использования нашего Сервиса, для связи с Вами.</li>
    <li><strong>При передаче бизнеса:</strong> Мы можем передавать Ваши персональные данные в связи с любым слиянием, продажей активов Компании, финансированием или приобретением всей или части нашего бизнеса другой компанией, или в ходе переговоров по этим вопросам.</li>
    <li><strong>Аффилированным компаниям:</strong> Мы можем передавать Ваши персональные данные нашим аффилированным компаниям, в этом случае мы потребуем от этих аффилированных компаний соблюдения настоящей Политики конфиденциальности. К аффилированным компаниям относятся наша материнская компания и любые другие дочерние компании, партнеры по совместным предприятиям или другие компании, которые мы контролируем или которые находятся под общим контролем с нами.</li>
    <li><strong>С деловыми партнерами:</strong> Мы можем делиться Вашими персональными данными с нашими деловыми партнерами, чтобы предлагать Вам определенные продукты, услуги или рекламные акции.</li>
    <li><strong>С другими пользователями:</strong> Если наш Сервис предлагает общедоступные разделы, то когда Вы делитесь персональными данными или иным образом взаимодействуете в общедоступных разделах с другими пользователями, такая информация может быть просмотрена всеми пользователями и может быть публично распространена за пределами Сервиса.</li>
    <li><strong>С Вашего согласия</strong>: Мы можем раскрывать Ваши персональные данные для любых других целей с Вашего согласия.</li>
    </ul>
    <h3 class="font-bold text-center sm:text-left mt-2">Хранение Ваших персональных данных</h3>
    <p>Компания будет хранить Ваши персональные данные только до тех пор, пока это необходимо для целей, изложенных в настоящей Политике конфиденциальности.</p> Мы будем хранить и использовать Ваши персональные данные в той мере, в какой это необходимо для выполнения наших юридических обязательств (например, если мы обязаны хранить Ваши данные в соответствии с применимым законодательством), разрешения споров и обеспечения соблюдения наших юридических соглашений и политик.
    По возможности мы применяем более короткие сроки хранения и/или уменьшаем идентифицируемость путем удаления, агрегирования или анонимизации данных. Если не указано иное, указанные ниже сроки хранения являются максимальными (до), и мы можем удалить или анонимизировать данные раньше, когда они больше не нужны для соответствующей цели. Мы применяем разные сроки хранения к различным категориям персональных данных в зависимости от цели обработки и юридических обязательств:</p>
    <ul>
    <li>
    <p>Информация об учетной записи</p>
    <ul>
    <li>Учетные записи пользователей: хранятся в течение всего периода действия вашей учетной записи плюс до 24 месяцев после ее закрытия для решения любых вопросов, возникающих после прекращения действия учетной записи, или для урегулирования споров.</li>
    </ul>
    </li>
    <li>
    <p>Данные службы поддержки клиентов</p>
    <ul>
    <li>Заявки в службу поддержки и переписка: до 24 месяцев с даты закрытия заявки для решения последующих запросов, отслеживания качества обслуживания и защиты от потенциальных судебных исков.</li>
    <li>Расшифровки чатов: до 24 месяцев для обеспечения качества и обучения персонала.</li>
    </ul>
    </li>
    <li>
      <p>Данные об использовании</p>
    <ul>
    <li>
    <p>Данные веб-аналитики (файлы cookie, IP-адреса, идентификаторы устройств): до 24 месяцев с даты сбора, что позволяет нам анализировать тенденции, соблюдая принципы конфиденциальности.</p>
    </li>
    <li>
    <p>Журналы сервера (IP-адреса, время доступа): до 24 месяцев для целей мониторинга безопасности и устранения неполадок.</p>
    </li>
    </ul>
    </li>
    </ul>
    <p>Данные об использовании хранятся в соответствии с указанными выше сроками хранения и могут храниться дольше только в тех случаях, когда это необходимо для обеспечения безопасности, предотвращения мошенничества или соблюдения законодательства.</p>
    <p>Мы можем хранить персональные данные сверх указанных выше сроков по различным причинам:</p>
    <ul>
    <li>Юридическое обязательство: Мы обязаны по закону хранить определенные данные (например, финансовые отчеты для налоговых органов).</li>
    <li>Юридические претензии: Данные необходимы для установления, осуществления или защиты юридических претензий. претензии.</li>
    <li>Ваш явный запрос: Вы просите нас сохранить определенную информацию.</li>
    <li>Технические ограничения: Данные хранятся в резервных системах, которые запланированы для планового удаления.</li>
    </ul>
    <p>Вы можете запросить информацию о том, как долго мы будем хранить Ваши персональные данные, связавшись с нами.</p>
    <p>По истечении сроков хранения мы надежно удаляем или анонимизируем персональные данные в соответствии со следующими процедурами:</p>
    <ul>
    <li>Удаление: Персональные данные удаляются из наших систем и больше не обрабатываются.</li>
    <li>Хранение резервных копий: Остаточные копии могут оставаться в зашифрованных резервных копиях в течение ограниченного периода времени в соответствии с нашим графиком хранения резервных копий и не восстанавливаются, за исключением случаев, когда это необходимо для обеспечения безопасности, восстановления после катастрофы или соблюдения законодательства.</li>
    <li>Анонимизация: В некоторых случаях мы преобразуем персональные данные в анонимные статистические данные, которые невозможно связать с Вами. Эти анонимизированные данные могут храниться неограниченно долго для исследований и аналитики.</li>
    </ul>
    <h3 class="font-bold text-center sm:text-left mt-2">Передача ваших персональных данных</h3>
    <p>Ваша информация, включая персональные данные, обрабатывается в операционных офисах Компании и в любых других местах, где находятся стороны, участвующие в обработке. Это означает, что эта информация может передаваться на компьютеры, расположенные за пределами вашего штата, провинции, страны или другой государственной юрисдикции, где законы о защите данных могут отличаться от законов вашей юрисдикции, и храниться на них.</p>
    <p>В случаях, когда это требуется применимым законодательством, мы обеспечим, чтобы международная передача ваших персональных данных осуществлялась с соблюдением соответствующих гарантий и дополнительных мер, где это необходимо.</p> Компания предпримет все разумно необходимые шаги для обеспечения безопасной обработки Ваших данных в соответствии с настоящей Политикой конфиденциальности, и передача Ваших персональных данных в организацию или страну будет осуществляться только при наличии надлежащих мер контроля, включая обеспечение безопасности Ваших данных и другой личной информации.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Удаление Ваших персональных данных</h3>
    <p>Вы имеете право удалить или запросить у нас помощь в удалении собранных нами Ваших персональных данных.</p>
    <p>Наш сервис может предоставлять Вам возможность удалять определенную информацию о Вас из самого сервиса.</p>
    <p>Вы можете обновлять, изменять или удалять Свою информацию в любое время, войдя в Свою учетную запись, если она у вас есть, и посетив раздел настроек учетной записи, который позволяет вам управлять Вашими персональными данными.</p> Вы также можете связаться с нами, чтобы запросить доступ к предоставленным вами персональным данным, их исправление или удаление.</p>
    <p>Однако, обратите внимание, что нам может потребоваться сохранить определенную информацию, если у нас есть юридическое обязательство или законное основание для этого.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Раскрытие ваших персональных данных</h3>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Деловые операции</h4>
    <p>Если компания участвует в слиянии, приобретении или продаже активов, ваши персональные данные могут быть переданы.</p> Мы уведомим вас до передачи Ваших персональных данных и до того, как они станут регулироваться другой Политикой конфиденциальности.</p>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Правоохранительные органы</h4>
    <p>При определенных обстоятельствах Компания может быть обязана раскрыть Ваши персональные данные, если это требуется по закону или в ответ на обоснованные запросы государственных органов (например, суда или государственного учреждения).</p>
   <h4 class="text-sm font-bold text-center sm:text-left mt-2">Другие юридические требования</h4>
    <p>Компания может раскрыть Ваши персональные данные, добросовестно полагая, что такие действия необходимы для:</p>
    <ul>
    <li>Соблюдения юридических обязательств</li>
    <li>Защиты прав или собственности Компании</li>
    <li>Предотвращения или расследования возможных противоправных действий в связи с Сервисом</li>
    <li>Защиты личной безопасности Пользователей Сервиса или общественности</li>
    <li>Защиты от юридической ответственности</li>
    </ul>
    <h3 class="font-bold text-center sm:text-left mt-2">Безопасность ваших персональных данных</h3>
    <p>Безопасность ваших персональных данных важна для нас, но помните, что ни один метод передачи данных через Интернет или метод электронного хранения не является на 100% безопасным. Хотя мы стремимся использовать коммерчески обоснованные средства для защиты ваших персональных данных, мы не можем гарантировать их абсолютную безопасность.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Конфиденциальность детей</h2>
    <p>Наш сервис не предназначен для лиц младше 16 лет. Мы сознательно не собираем персональные данные лиц младше 16 лет. Если вы являетесь родителем или опекуном и знаете, что ваш ребенок предоставил нам персональные данные, пожалуйста, свяжитесь с нами. Если нам станет известно, что мы собрали персональные данные лица младше 16 лет без подтверждения согласия родителей, мы предпримем шаги для удаления этой информации с наших серверов.
    <p>Если нам необходимо полагаться на согласие как на законное основание для обработки вашей информации, и в вашей стране требуется согласие родителя, мы можем запросить согласие вашего родителя, прежде чем собирать и использовать эту информацию.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Ссылки на другие веб-сайты</h2>
    <p>Наш сервис может содержать ссылки на другие веб-сайты, которые не управляются нами. Если вы перейдете по ссылке на сторонний сайт, вы будете перенаправлены на этот сайт. Мы настоятельно рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете.</p>
    <p>Мы не контролируем и не несем ответственности за содержание, политику конфиденциальности или действия любых сторонних сайтов или сервисов.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Изменения в настоящей Политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим Вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице.</p>
    <p>Мы сообщим Вам по электронной почте и/или разместим заметное уведомление на нашем Сервисе до вступления изменений в силу и обновим дату «Последнее обновление» в верхней части этой Политики конфиденциальности.</p>
    <p>Рекомендуем вам периодически просматривать эту Политику конфиденциальности на предмет изменений. Изменения в этой Политике конфиденциальности вступают в силу с момента их публикации на этой странице.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Свяжитесь с нами</h2>
    <p>Если у вас есть какие-либо вопросы по поводу этой Политики конфиденциальности, Вы можете связаться с нами:</p>
    <ul>
    <li>По электронной почте: alextechnologies@gmail.com</li>
    </ul>
  </section>
</BaseLayout>