---
import BaseLayout from '../layouts/BaseLayout.astro';

const titlePageName = "Условия и положения";
---

<BaseLayout title={titlePageName}>
	<section class="mx-4 w-full text-left">
    <h1>Условия и положения</h1>
    <p>Последнее обновление: 05 апреля 2026 г.</p>
    <p>Пожалуйста, внимательно ознакомьтесь с настоящими условиями и положениями перед использованием нашего Сервиса.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Толкование и определения</h2>
    <h3 class="font-bold text-center sm:text-left mt-2">Толкование</h3>
    <p>Слова, начинающиеся с заглавной буквы, имеют значения, определенные в следующих условиях. Следующие определения имеют одинаковое значение независимо от того, используются ли они в единственном или множественном числе.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Определения</h3>
    <p>Для целей настоящих Условий и положений:</p>
    <ul>
    <li>
    <p><strong>Аффилированное лицо</strong> означает организацию, которая контролирует, контролируется или находится под общим контролем с какой-либо стороной, где «контроль» означает владение 50% или более акций, долей участия или других ценных бумаг, дающих право голоса при избрании директоров или другого руководящего органа.</p>
    </li>
    <li>
    <p><strong>Страна</strong> относится к: Россия</p>
    </li>
    <li>
    <p><strong>Компания</strong> (именуемая в настоящих Условиях как «Компания», «Мы», «Нас» или «Наша») относится к АЛТЕХ.</p>
    </li>
    <li>
    <p><strong>Устройство</strong> означает любое устройство, которое может получить доступ к Сервису, например, компьютер, мобильный телефон или цифровой планшет.</p>
    </li>
    <li>
    <p><strong>Сервис</strong> относится к Веб-сайту.</p>
    </li>
    <li>
    <p><strong>Условия и положения</strong> (также именуемые как «Условия») означают настоящие Условия и Условия, включая любые документы, прямо включенные в них посредством ссылки, которые регулируют Ваш доступ к Сервису и его использование и составляют полное соглашение между Вами и Компанией относительно Сервиса. Настоящие Условия и положения были созданы с помощью <a href="https://www.termsfeed.com/terms-conditions-generator/" target="_blank">Генератор Условий и положений</a>.</p>
    </li>
    <li>
    <p><strong>Сторонний сервис социальных сетей</strong> означает любые услуги или контент (включая данные, информацию, продукты или услуги), предоставляемые третьей стороной, которые отображаются, включаются, предоставляются или на которые есть ссылки через Сервис.</p>
    </li>
    <li>
    <p><strong>Веб-сайт</strong> относится к АЛТЕХ, доступному по адресу <a href="https://altexweb.ru" rel="external nofollow noopener" target="_blank">https://altexweb.ru</a></p>
    </li>
    <li>
    <p><strong>Вы</strong> означает физическое лицо, получающее доступ к Сервису или использующее его, или компанию, или другое юридическое лицо, от имени которого такое физическое лицо доступ к Сервису или его использование, в зависимости от обстоятельств.</p>
    </li>
    </ul>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Подтверждение</h2>
    <p>Настоящие Условия использования регулируют использование данного Сервиса и представляют собой соглашение между Вами и Компанией. Настоящие Условия определяют права и обязанности всех пользователей в отношении использования Сервиса.</p>
    <p>Ваш доступ к Сервису и его использование обусловлены Вашим принятием и соблюдением настоящих Условий использования. Настоящие Условия использования применяются ко всем посетителям, пользователям и другим лицам, которые получают доступ к Сервису или используют его.</p>
    <p>Получая доступ к Сервису или используя его, Вы соглашаетесь соблюдать настоящие Условия использования. Если Вы не согласны с какой-либо частью настоящих Условий использования, Вы не можете получить доступ к Сервису.</p>
    <p>Вы подтверждаете, что Вам больше 18 лет. Компания не разрешает лицам младше 18 лет использовать Сервис.</p>
    <p>Ваш доступ к Сервису и его использование также регулируются нашей Политикой конфиденциальности, которая описывает, как мы собираем, используем и раскрываем персональную информацию.</p> Пожалуйста, внимательно ознакомьтесь с нашей Политикой конфиденциальности перед использованием нашего Сервиса.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Ссылки на другие веб-сайты</h2>
    <p>Наш Сервис может содержать ссылки на сторонние веб-сайты или сервисы, которые не принадлежат Компании и не контролируются ею.</p>
    <p>Компания не контролирует и не несет ответственности за содержание, политику конфиденциальности или действия любых сторонних веб-сайтов или сервисов.</p> Вы также подтверждаете и соглашаетесь с тем, что Компания не несет ответственности, прямо или косвенно, за любой ущерб или убытки, причиненные или предположительно причиненные в связи с использованием или опорой на любой такой контент, товары или услуги, доступные на или через любые такие веб-сайты или сервисы.</p>
    <p>Мы настоятельно рекомендуем Вам ознакомиться с условиями использования и политикой конфиденциальности любых сторонних веб-сайтов или сервисов, которые Вы посещаете.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Ссылки со сторонних социальных сетей</h3>
    <p>Сервис может отображать, включать, предоставлять доступ или ссылаться на контент или услуги, предоставляемые сторонними социальными сетями.</p> Сторонние социальные сети не принадлежат Компании и не контролируются ею, и Компания не поддерживает и не несет ответственности за какие-либо сторонние социальные сети.</p>
    <p>Вы признаете и соглашаетесь с тем, что Компания не несет ответственности, прямо или косвенно, за любой ущерб или убытки, причиненные или предположительно причиненные в связи с вашим доступом к любым сторонним социальным сетям или их использованием, включая любой контент, товары или услуги, предоставляемые через них. Использование вами любых сторонних социальных сетей регулируется условиями и политикой конфиденциальности этих сторонних социальных сетей.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Прекращение действия</h2>
    <p>Мы можем немедленно прекратить или приостановить ваш доступ без предварительного уведомления или ответственности по любой причине, включая, помимо прочего, нарушение вами настоящих Условий и положений.</p>
    <p>После прекращения действия ваше право на использование Сервиса немедленно прекращается.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Ограничение ответственности</h2>
    <p>Несмотря на любые убытки, которые Вы можете понести, полная ответственность Компании и любых ее поставщиков в соответствии с любым положением настоящих Условий, а также Ваше исключительное средство правовой защиты в отношении всего вышеизложенного ограничивается суммой, фактически уплаченной Вами через Сервис, или 100 долларов США, если Вы ничего не приобрели через Сервис.</p>
    <p>В максимальной степени, разрешенной применимым законодательством, ни при каких обстоятельствах Компания или ее поставщики не несут ответственности за любые особые, случайные, косвенные или последующие убытки любого рода (включая, помимо прочего, убытки от упущенной выгоды, потери данных или другой информации, перерыва в работе бизнеса, телесных повреждений, потери конфиденциальности, возникающие в результате или каким-либо образом связанные с использованием или невозможностью использования Сервиса, программного обеспечения третьих лиц и/или оборудования третьих лиц, используемого с Сервисом, или иным образом в связи с любым положением настоящих Условий), даже если Компания или любой поставщик были уведомлены о возможности таких убытков и даже если средство правовой защиты не достигает своей основной цели.</p>
    <p>В некоторых штатах это не допускается исключение подразумеваемых гарантий или ограничение ответственности за случайные или косвенные убытки, что означает, что некоторые из вышеуказанных ограничений могут не применяться. В таких случаях ответственность каждой стороны будет ограничена в максимально допустимой законом степени.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Отказ от ответственности "КАК ЕСТЬ" и "КАК ДОСТУПНО"</h2>
    <p>Услуга предоставляется Вам "КАК ЕСТЬ" и "КАК ДОСТУПНО" со всеми недостатками и дефектами без каких-либо гарантий. В максимальной степени, разрешенной применимым законодательством, Компания от своего имени и от имени своих аффилированных лиц, а также своих и их соответствующих лицензиаров и поставщиков услуг, прямо отказывается от всех гарантий, как явных, так и подразумеваемых, предусмотренных законом или иным образом, в отношении Услуги, включая все подразумеваемые гарантии товарной пригодности, пригодности для определенной цели, права собственности и отсутствия нарушений, а также гарантии, которые могут возникнуть в результате деловых отношений, исполнения обязательств, использования или торговой практики. Без ограничения вышеизложенного, Компания не предоставляет никаких гарантий или обязательств и не делает никаких заявлений относительно того, что Услуга будет соответствовать Вашим требованиям, позволит достичь каких-либо желаемых результатов, будет совместима или будет работать с любым другим программным обеспечением, приложениями, системами или услугами, будет работать без перебоев, будет соответствовать каким-либо стандартам производительности или надежности, будет безошибочной, или что какие-либо ошибки или дефекты могут или будут исправлены.</p>
    <p>Без ограничения вышеизложенного, ни Компания, ни какой-либо из ее поставщиков не делают никаких заявлений или гарантий любого рода, явных или подразумеваемых: (i) относительно работы или доступности Услуги, а также информации, контента, материалов или продуктов, включенных в нее; (ii) относительно того, что Услуга будет работать бесперебойно или без ошибок; (iii) относительно точности, надежности или актуальности любой информации или контента, предоставляемого через Услугу; или (iv) что Сервис, его серверы, контент или электронные письма, отправленные от имени Компании или от ее имени, не содержат вирусов, скриптов, троянских коней, червей, вредоносного ПО, бомб замедленного действия или других вредоносных компонентов.</p>
    <p>В некоторых юрисдикциях не допускается исключение определенных видов гарантий или ограничений применимых законных прав потребителя, поэтому некоторые или все вышеуказанные исключения и ограничения могут к Вам не применяться. Но в таком случае исключения и ограничения, изложенные в этом разделе, будут применяться в максимально возможной степени, допустимой в соответствии с применимым законодательством.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Применимое право</h2>
    <p>Настоящие Условия и Ваше использование Сервиса регулируются законодательством Страны, за исключением коллизионных норм. Использование вами Приложения также может регулироваться другими местными, государственными, национальными или международными законами.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Разрешение споров</h2>
    <p>Если у вас возникли какие-либо вопросы или споры относительно Сервиса, вы соглашаетесь сначала попытаться разрешить спор неофициальным путем, связавшись с Компанией.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Для пользователей из Европейского Союза (ЕС)</h2>
    <p>Если вы являетесь потребителем из Европейского Союза, вы будете пользоваться любыми обязательными положениями законодательства страны, в которой вы проживаете.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Соответствие законодательству США</h2>
    Вы заявляете и гарантируете, что (i) Вы не находитесь в стране, на которую распространяется эмбарго правительства Соединенных Штатов, или в стране, которая была признана правительством Соединенных Штатов «поддерживающей терроризм»; страна, и (ii) Вы не включены ни в один список запрещенных или ограниченных лиц правительства США.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Разделимость положений и отказ от прав</h2>
    <h3 class="font-bold text-center sm:text-left mt-2">Разделимость положений</h3>
    <p>Если какое-либо положение настоящих Условий будет признано недействительным или не имеющим юридической силы, такое положение будет изменено и истолковано таким образом, чтобы максимально полно достичь целей такого положения в соответствии с применимым законодательством, а остальные положения останутся в полной силе.</p>
    <h3 class="font-bold text-center sm:text-left mt-2">Отказ от прав</h3>
    <p>За исключением случаев, предусмотренных настоящими Условиями, неисполнение права или нетребование исполнения обязательства в соответствии с настоящими Условиями не влияет на способность стороны осуществлять такое право или требовать такого исполнения в любое время впоследствии, а отказ от права на предъявление претензий в связи с нарушением не является отказом от права на предъявление претензий в связи с любым последующим нарушением.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Перевод и толкование</h2>
    <p>Настоящие Условия и положения могли быть переведены, если мы предоставили их Вам на нашем Сервисе.

    Вы соглашаетесь с тем, что в случае спора преимущественную силу имеет оригинальный текст на английском языке.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Изменения в настоящих Условиях</h2>
    <p>Мы оставляем за собой право по своему собственному усмотрению изменять или заменять настоящие Условия в любое время. Если изменения являются существенными, мы предпримем разумные усилия, чтобы уведомить вас как минимум за 30 дней до вступления в силу новых условий. Что представляет собой существенное изменение, будет определяться по нашему собственному усмотрению.</p>
    <p>Продолжая получать доступ к нашим услугам или использовать их после вступления в силу этих изменений, вы соглашаетесь соблюдать измененные условия. Если вы не согласны с новыми условиями полностью или частично, пожалуйста, прекратите использование Сервиса.</p>
    <h2 class="text-lg font-bold text-center sm:text-left mt-2">Свяжитесь с нами</h2>
    <p>Если у вас есть какие-либо вопросы относительно настоящих Условий, вы можете связаться с нами:</p>
    <ul>
    <li>По электронной почте: alextechnologies@gmail.com</li>
    </ul>
  </section> 
</BaseLayout>