---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { LiveCollectionNames } from '../../../core/const';
import { getEntryBySlug } from '../../../core/helpers/live-collection-manager';
import type { Product } from '../../../core/models/product';
import ProductDetails from '../../../components/catalog/ProductDetails.astro';

const { slug } = Astro.params;
console.log("🚀 ~ Product page ~ slug:", slug);

const getProduct = async (slug: string): Promise<Product | undefined>  => {
  return await getEntryBySlug<Product>(LiveCollectionNames.Products, slug)
    .then(result => {
      if (!result.value) console.log("🚀 ~ Product page ~ product not found by slug:", result.slug);
      return result.value;
    })
    .catch(reason => {
      console.error((reason as Error).message);
      return undefined;
    });
}

var product: Product | undefined;
if (slug) {
  product = await getProduct(slug);
  if (!product) {
    Astro.session?.set("catalog", { 
      activeProductSlug: undefined,
      activeCategorySlug: undefined,
      activeParentCategorySlug: undefined 
    });
    return Astro.redirect("/404");
  }

  Astro.session?.set("catalog", { 
    activeProductSlug: product.slug, 
    activeCategorySlug: product.categorySlug, 
    activeParentCategorySlug: undefined 
  });
}
---

<BaseLayout title=`Каталог - ${product?.title}`>
    <div id="product-container" class="px-4">
      {product && 
        <ProductDetails item={product} />
      }
    </div>
</BaseLayout>