---
import BaseLayout from '../../../layouts/BaseLayout.astro';

export const prerender = false;
---

<BaseLayout title="Карточка товара">
    <div class="px-4">
      <span>Страница в разработке...</span>
    </div>
</BaseLayout>