---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';

const { slug } = Astro.params;
console.log("🚀 ~ Categories page ~ slug:", slug)
//locks/padlocks/eye-locks
//split(slug, '/') -> [locks, padlocks, eyelocks] 
// get categories for Eyelocks with parent Padlocks and ignore Locks

const sessionProduct = await Astro.session?.get('currentProduct');
---

<BaseLayout title=`Каталог - ${slug ?? "TODO: lookup in indexedDb"}`>
  <div class="px-4">
    <span>Страница в разработке...</span>
    <span>Значение продукта из сессии {sessionProduct?.title ?? "none"}</span>
  </div>
</BaseLayout>