---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getLiveEntry } from 'astro:content';
import { LiveCollectionValidationError } from 'astro/content/runtime';

const { slug } = Astro.params;
console.log("🚀 ~ Categories page ~ slug:", slug)

const { entry: categoryItem, error } = await getLiveEntry('categories', { slug: slug ?? "" });
console.error("🚀 ~ Category page ~ category %o by slug %s", categoryItem, slug)

if (LiveCollectionValidationError.is(error)) {
  console.error("🚀 ~ Category page ~ collection shema validation errors:", error)
} else if (error) {
  console.error("🚀 ~ Category page ~ collection error:", error)
}

//locks/padlocks/eye-locks
//split(slug, '/') -> [locks, padlocks, eyelocks] 
// get categories for Eyelocks with parent Padlocks and ignore Locks

//const sessionProduct = await Astro.session?.get('currentProduct');
const value = categoryItem?.data;
console.log("🚀 ~ Category page ~ data:", value)
//setCurrentProduct(value);
---

<BaseLayout title=`Каталог - ${slug ?? "TODO: lookup in indexedDb"}`>
  <div class="px-4">
    <span>Страница в разработке...</span>
    <span>Выбранный продукт: {value?.title ?? "none"}</span>
  </div>
</BaseLayout>