---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { LiveCollectionNames } from '../../../core/const';
import { type Category } from '../../../core/models/category';
import { $activeCategory, setActiveCategory } from '../../../core/stores/catalog-store';
import { getEntryBySlug } from '../../../core/helpers/live-collection-manager';

const { slug } = Astro.params;
console.log("🚀 ~ Category page ~ slug: %s", slug);

setActiveCategory(undefined);

if (slug) {
  await getEntryBySlug(LiveCollectionNames.Categories, slug)
    .then((result) => {
      if (!result.value) console.log("🚀 ~ Category page ~ category not found by slug:", result.slug);
      if (result.value) setActiveCategory(result.value as Category);
    })
    .catch((reason) => console.error(reason));
}

console.log(
  "🚀 ~ Category page ~ parsed category:", 
  $activeCategory?.value?.title
);
---

<BaseLayout title=`Каталог - ${slug ?? "None"}`>
  <div class="px-4">
    <span>Страница в разработке...</span>
  </div>
</BaseLayout>