---
export const prerender = false;

import BaseLayout from '@/web/src/layouts/BaseLayout.astro';
import { getProduct } from '@/web/src/core/utils/live-collection-manager';
import ProductDetails from '@/web/src/components/catalog/ProductDetails.astro';
import { getSessionManager } from '@/web/src/core/utils/session-manager';
import { fetchMeasurementUnits } from '@/web/src/core/services/queries/measurement-units';
import { fetchDiscounts } from '@/web/src/core/services/queries/discounts';
import { fetchProductColors } from '@/web/src/core/services/queries/product-colors';
import { getQueryManager } from '@/web/src/core/services/queryManager';
import type { Catalog, Product } from '@/lib/domain/';
import { CacheKeys, getCacheInfo } from '@/lib/domain';

const { slug } = Astro.params;

const fetchCatalogReferences = async (): Promise<Catalog | undefined> => {
  const queryManager = getQueryManager();
  return await Promise.all([
    queryManager.fetch(
      () => fetchMeasurementUnits(),
      getCacheInfo(CacheKeys.MeasurementUnits),
    ), 
    queryManager.fetch(
      () => fetchDiscounts(),
      getCacheInfo(CacheKeys.Discounts),
    ), 
    queryManager.fetch(
      () => fetchProductColors(),
      getCacheInfo(CacheKeys.ProductColors),
    ),
  ]).then((data) => {        
    if (data.some(x => x.error !== undefined)) {
      const errorMessage = data.reduce((acc, curr) => acc + `${curr.error !== undefined ? curr.error?.message + ", " : ""}`, "").slice(0, -2);
      console.error("~ Product page ~", errorMessage);  
      return undefined;
    }
    return {
      measurementUnits: data[0].data ?? [],
      discounts: data[1].data ?? [],
      productColors: data[2].data ?? [],
    }
  }).catch((err) => { 
    console.error("~ Product page ~ failed to load dictionaries (measurement units, discounts, product colors))", err);
    return undefined;
  });
}

const fetchProduct = async (): Promise<Product | undefined> => {
  let result: Product | undefined;
  try {
    if (slug !== undefined) result = await getProduct(slug);
  } catch(error) {
    console.error("🛑 ~ Product page ~ failed to fetch product", error);
  }
  return result;
}

const sessionManager = getSessionManager(Astro.session);
const product = await fetchProduct();
if (product === undefined)
{
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/404");
}

const references = await fetchCatalogReferences();
if (references === undefined) {
  return Astro.redirect("/500");
}

sessionManager.setActiveCatalogItem({ 
  parentCategory: undefined,
  category: { slug: product.categorySlug, title: product.categoryTitle }, 
  product: { slug: product.slug, title: product.title }
});
//console.log("🌎 ~ Product page ~ product", product);
---

<BaseLayout title=`Каталог - ${product?.title}`>
    <div id="product-container" class="px-4">
      {product && 
        <ProductDetails item={product} references={references} isPreview={false} />
      }
    </div>
</BaseLayout>