---
export const prerender = false;

import BaseLayout from '@/web/src/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import successLogo from '@/web/src/assets/success.png';
import { extractUrlParam } from '@/web/src/core/utils/url-parser';

const orderNumber = extractUrlParam(new URL(Astro.request.url), "order", "string"); 
console.log("🛠️ ~ Cart checkout confirmation page ~ request: %s", orderNumber);

const titleOrderConfirmation = "Спасибо за раземещение заказа. В ближайшее время мы свяжемся с Вами по указанном email адресу для уточнения деталей.";
const titleOrderReference = "Идентификатор заказа";
---

<BaseLayout title="Подтверждение заказа">
  <div class="flex gap-2">
    <div class="grow-0 content-start">
      <Image src={successLogo}
          class="w-32"
          alt="Confirmation logo"
        />
    </div>
    <div class="grow content-center">
      <p>
        <span>{titleOrderConfirmation}</span>
        <br/>
        <span>{titleOrderReference}:</span>
        <span class="font-bold text-accent">{orderNumber}</span>
      </p>
    </div>
  </div>
</BaseLayout>
