---
import '../styles/global.css'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const MainTitle = `АЛТЕХ - ${title}`;
---

<script>
  import { getWorkersFactory, type WorkerInfo } from "../utils/workers-factory";

	window.workers = window.workers ?? {} as WorkerInfo;

	console.log("🚀 ~ BaseLayout ~ creating catalog-sync-worker");
	const factory = getWorkersFactory(window.workers);
	const catalogSyncWorker = factory.findOrCreateCatalogSyncWorker(
		e => {
			if (e.data === 'command') {
				console.log("🚀 ~ BaseLayout ~ response from catalog-sync-worker:", e.data);
			}
		}, err => {
			console.error("🚀 ~ BaseLayout ~ error in catalog-sync-worker:", err.message);
		}
  );

	catalogSyncWorker.postMessage("sync-categories");
</script>


<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{MainTitle}</title>
	</head>
	<body>
		<Header />
		<Breadcrumbs currentPath={currentPath} />
		<div class="mx-auto max-w-7xl px-4 py-3">
			<slot />
		</div>
		<Footer />
	</body>
</html>
