---
import { Image } from 'astro:assets';
import altexLogo from '../assets/alex-welcome.jpg';
---

<div class="hero bg-base-100">
  <div class="hero-content flex-col lg:flex-row">
    <Image src={altexLogo}
      class="max-w-3xs rounded-lg shadow-2xl"
      alt="Owner"
    />
    <div class="px-0 lg:pl-3">
      <h3 class="text-3xl font-bold text-center lg:text-left">Приветствую, Вас!</h3>
      <p class="py-1 text-start lg:text-justify">
        Меня зовут Алексей, я владелец компании по продаже и поставке хозяйственных товаров, мебельной фурнитуры и скобяных изделей.
      </p>
			<p class="py-1 text-start lg:text-justify">
        Здесь представлен каталог с поставляемой продукцией. Вы можете оформить заявку на приобритение понравившихся товаров. Для этого добавьте нужный товар в корзину и отправьте заявку на рассмотрение. После этого я свяжусь с Вами и мы согласуем необходимые детали по доставке и оплате.
      </p>
      <div role="alert" class="alert mt-1 items-start">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <p>
          <span>Оплата через данный веб-сайт не предусмотрена, а согласуется впоследствии в виде наличного или безналичного перевода.</span> 
          <span class="text-secondary">При банковском переводе к стоимости добавляется 10%</span>.        
        </p>
      </div>
    </div>
  </div>
</div>