---
export const prerender = false;

import Categories from '@/web/src/components/catalog/Categories.astro';
import CollectionFallback from '@/web/src/components/CollectionFallback.astro';
import BaseLayout from '@/web/src/layouts/BaseLayout.astro';

const pageTitle = "Каталог";
---

<BaseLayout title={pageTitle}>
  <Categories server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback />
		</div>
	</Categories>
</BaseLayout>
