# Available on client and server
PUBLIC_API_BASE_URL="http://127.0.0.1:4321/api"
PUBLIC_BLOB_STORAGE_CATALOG_URL="http://127.0.0.1:4321"

# Available on server only
BREADCRUMB_TITLE_MAX_LENGTH=20
DATA_RECORDS_ON_PAGE=20
DB_GENERAL_PATH="/<root>/db/general.db"
DB_OPERATIONS_PATH="/<root>/db/operations.db"
DB_CATALOG_PATH="/<root>/db/catalog.db"
DB_READ_REPLICAS_PATH="/<root>/db/replicas"
EMAIL_TEMPLATES_PATH="/<root>/emails"
EMAIL_REDIRECT_URI="https://developers.google.com/oauthplayground"
EMAIL_CLIENT_ID=""
EMAIL_CLIENT_SECRET=""
EMAIL_REFRESH_TOKEN=""
ENABLE_TRACING=false