# Available on client and server
PUBLIC_BLOB_STORAGE_CATEGORIES_URL="http://127.0.0.1:4321/categories"
PUBLIC_BLOB_STORAGE_PRODUCTS_URL="http://127.0.0.1:4321/products"
PUBLIC_API_BASE_URL="http://127.0.0.1:4321/api"
PUBLIC_CACHE_INVALIDATE_IN_HOURS = 4

# Available on server only
BREADCRUMB_TITLE_MAX_LENGTH=20
DATA_RECORDS_ON_PAGE=20
GMAIL_APP_PWD=""
DB_GENERAL_PATH="/<root>/db/general.db"
DB_OPERATIONS_PATH="/<root>/db/operations.db"
DB_CATALOG_PATH="/<root>/db/catalog.db"
EMAIL_TEMPLATES_PATH="/<root>/emails"