# Available on client and server
PUBLIC_ENABLE_TRACING=false
PUBLIC_API_BASE_URL="http://127.0.0.1/api"
PUBLIC_BLOB_STORAGE_IMAGES_URL="http://127.0.0.1/images"
PUBLIC_BLOB_STORAGE_THUMBNAILS_URL="http://127.0.0.1/thumbnails"
PUBLIC_CATEGORIES_VIEW_INIT_DELAY_MS=1000
PUBLIC_PRODUCTS_VIEW_INIT_DELAY_MS=2000
PUBLIC_CACHE_INVALIDATE_DAYS=7

# Available on server only
ENABLE_TRACING=false
CACHE_SIZE_LIMIT=50
BREADCRUMB_TITLE_MAX_LENGTH=20
DATA_RECORDS_ON_PAGE=20
DB_GENERAL_PATH="/<root>/db/general.db"
DB_OPERATIONS_PATH="/<root>/db/operations.db"
DB_CATALOG_PATH="/<root>/db/catalog.db"
DB_READ_REPLICAS_PATH="/<root>/db/replicas"
EMAIL_TEMPLATES_PATH="/<root>/emails"
EMAIL_REDIRECT_URI="https://developers.google.com/oauthplayground"
EMAIL_CLIENT_ID=""
EMAIL_CLIENT_SECRET=""
EMAIL_REFRESH_TOKEN=""
EMAIL_ACCOUNT=""
EMAIL_APP_PASSWORD=""